body{
	background:Seashell;
}

#bg {
	/* задний фон   */

	
}
#outer {
	/* Пложение элемента устанавливается относительно его исходного места */
	position: relative;
	width: 1180px;
	margin: 0 auto; 
}

#header {
	
	position: relative;
	padding: 30px;
	height: 80px;
	width: 1120px
}
/* логотип */
#logo {
	
	position:absolute;
	top: 30px;
	left: 30px;
	height:80px;
	line-height:80px; /* Устанавливает интерльньяж(межстрочный интервал) отчет ведетсяот базовой линии шрифта */
	letter-spacing:-1px; /* Оределяет интервал между символами в пределах элемента */
	
}


/*свойства для ссылки*/
#logo a {
	text-decoration:none; /* Отменяет все эффекты, в том числе и подчеркивания у ссылок , которое  задано по умолчанию  */ 
	color: #FF1493;
}

/* свойство для зоголовка  */
#logo h1 {
font-size: 2.75em; /*  шрифт */
}

#main { 
position:relative;
padding: 0px;
height: 200px;
width: 1120px;
margin: 0px 0 0 0;
 background:  rgb(254,233,150); 
}



#sidebar{
	float: left;
}

#li{
	
	text-align:left;

	
}	


#nav {
	/*Устонавливает способ позицыонироваеия элемента относительно окна браузера или других объеутов на веб-странице  */
	position: absolute; /*Указывает ,что элемент абсолютно позиционирован , при этом другие элементы отображаются нак веб-странице словно абсолютно позиционированного элемента и нет  */
	right: 30px; /* отступ справа   */
	height: 48px; /* высота */
	top: 55px; /* отступ сверху   */
	font-family: Arvo,  serif; /* шрифт  */
	font-size: 1.1em;  /* размер шрифта  */

}	
#nav ul {
	list-style: none; /* убирает точки  */

}
#nav ul  li{
float: left; /* Выравнивает элементы по левому краю, вроде тукста, обтекают его по правой стороне  */


margin: 0 0.5em 0 0.5em; /* отступ от края каждого элемента   */
padding:  0.25em 1.1em  0.25em  1.1em;  /* поля вокруг содержимого элемента    */
/*Почередноустонавливается отступ от  верхнего, правого,нижнего и левого края     */
}
#nav ul li.active {
background:#FF1493;
}

	
#nav li a { 
text-decoration:none; /* убирает подчеркивание  */
color:#00008B;
}

#nav ul li.active a { 
color:#ffffff;
}

#nav link { 
text-decoration:none; /* убирает подчеркивание  */
color:#00008B;
}