#nav {
	/*Устонавливает способ позицыонироваеия элемента относительно окна браузера или других объеутов на веб-странице  */
	position: absolute; /*Указывает ,что элемент абсолютно позиционирован , при этом другие элементы отображаются нак веб-странице словно абсолютно позиционированного элемента и нет  */
	right: 30px; /* отступ справа   */
	height: 48px; /* высота */
	top: 55px; /* отступ сверху   */
	font-family: Arvo,  serif; /* шрифт  */
	font-size: 1.1em;  /* размер шрифта  */

}	
#nav ul {
	list-style: none; /* убирает точки  */

}
#nav ul  li{
float: left; /* Выравнивает элементы по левому краю, вроде тукста, обтекают его по правой стороне  */


margin: 0 0.5em 0 0.5em; /* отступ от края каждого элемента   */
padding:  0.25em 1.1em  0.25em  1.1em;  /* поля вокруг содержимого элемента    */
/*Почередноустонавливается отступ от  верхнего, правого,нижнего и левого края     */
}
#nav ul li.active {
background:#3CA9CD;
}

	
#nav li a { 
text-decoration:none; /* убирает подчеркивание  */
color:#d9dada;
}

#nav ul li.active a { 
color:#ffffff;
}